.blockquote {
  background-color: var(--c-blockquote-background);
  border-left: 0.5rem solid var(--c-blockquote-border);

  padding: 2rem 0;
  margin: 1.25rem 2rem 1.5rem;
}

.blockquote__attribution {
  font-size: var(--t-small);
  font-style: italic;
  text-align: right;
  padding: 0 2rem;
}
