.footer {
  background-color: #222;
  border-top: thin solid var(--c-primary-border);
  box-shadow: var(--e-specular-muted);
  color: #aaa;
  display: flex;
  font-family: var(--t-sans);
  grid-area: footer;
  padding: 1rem;
  text-shadow: 0 1px 0 black;
}

@media (--m-big-screen) {
  .footer {
    border-left: thin solid var(--c-primary-border);
    border-right: thin solid var(--c-primary-border);
    border-top-left-radius: var(--e-border-radius);
    border-top-right-radius: var(--e-border-radius);
  }
}
