.header {
  background: linear-gradient(#545454, #373737);
  border-bottom: var(--e-primary-border);
  box-shadow: var(--e-specular), var(--e-ambient), var(--e-shadow);
  color: var(--c-secondary-foreground);
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding: var(--e-gap-size);
  text-shadow: 0 1px 0 var(--c-text-shadow);
  z-index: 5;
}

@media (--m-small-screen) {
  .header {
    height: var(--e-header-height);
  }
}

@media (--m-big-screen) {
  .header {
    background: none;
    border: none;
    box-shadow: none;
    color: var(--c-primary-foreground);
    padding: var(--e-gap-size) var(--e-gap-size) 0;
    text-shadow: none;
  }
}

.header__title-wrapper {
  display: flex;
  gap: var(--e-gap-small-size);
}

.header__logo {
  align-self: center;
  image-rendering: crisp-edges;
}

.header__title {
  font-size: 180%;
  margin: 0;
  padding: 0;
}

.header__actions {
  align-items: center;
  display: flex;
  gap: var(--e-gap-size);
}
