.hit-counter {
  display: flex;
  font-family: monospace;
  font-size: var(--t-small);
  gap: 2px;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}

.hit-counter__digit {
  background-color: var(--c-dark-mine-shaft);
  box-shadow: var(--e-shadow);
  color: var(--c-ghost-white);
  padding: 1px 3px;
}
