.main {
  grid-area: main;
  background-color: var(--c-primary-background);
  border-radius: var(--e-border-radius);
  border: var(--e-secondary-border);
  box-shadow: var(--e-shadow);
  padding: 1rem;
}
