.main {
  grid-area: main;
  background-color: var(--c-primary-background);
  padding: 1rem;
}

.main img {
  max-width: 100%;
}

@media (--m-big-screen) {
  .main {
    padding: 1rem 2.5rem;
    border-radius: var(--e-border-radius);
    border: var(--e-secondary-border);
    box-shadow: var(--e-shadow);
  }
}
