.main {
  background-color: var(--c-primary-background);
  grid-area: main;
  padding: 1rem;
}

@media (--m-big-screen) {
  .main {
    border-radius: var(--e-border-radius);
    border: var(--e-secondary-border);
    box-shadow: var(--e-shadow);
    padding: 1rem 2.5rem;
  }
}
