.navigation {
  grid-area: navigation;
  background: linear-gradient(#545454, #373737);
  box-shadow: var(--e-specular), var(--e-ambient);
  border-top: var(--e-primary-border);
  border-bottom: var(--e-primary-border);
  height: var(--e-navigation-size);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

@media (min-width: 820px) {
  .navigation {
    border-radius: var(--e-border-radius);
    border: var(--e-primary-border);
    box-shadow: var(--e-specular), var(--e-ambient), var(--e-shadow);
  }
}


.navigation__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.navigation__item {
  margin: 0;
  height: 100%;
  width: 100%;
}

.navigation__item > a {
  color: var(--c-secondary-foreground);
  font-family: var(--t-sans);
  font-size: 1rem;
  text-shadow: 0 1px 0 var(--c-text-shadow);
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__item > a:hover {
  background-color: rgb(255 255 255 / 0.1);
}

.navigation__item > a:focus-visible {
  outline-offset: -2px;
}

.navigation__item--home > a {
  width: var(--e-navigation-size);
  padding: 0;
}

.navigation__item--home > a > svg {
  filter: drop-shadow(0 1px 0 var(--c-text-shadow));
  width: 1.5rem;
  height: 1.5rem;
}

.navigation__divider {
  margin: 0;
  height: 100%;
  border-right: thin solid #858585;
  border-left: thin solid #222;
}

.navigation__search {
  /* debug */
  background-color: #ffc;
}
