.post {
  padding-top: 0.75rem;
}

.post figure[data-type="image"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem 2rem 1.5rem;
}

.post figure[data-type="image"] > img {
  max-width: 100%;
  margin-bottom: 0.5rem;
  border-radius: var(--e-border-radius);
}

.post figure[data-type="image"] > figcaption {
  font-size: var(--t-small);
  font-style: italic;
  color: slategrey;
}

.post__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.post__date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.75rem;
}

.post__date > img {
  margin-right: 0.25rem;
  image-rendering: crisp-edges;
}

.post__tags {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: var(--t-small);
}
