.rss-button {
  --specular: inset 0 1px 0 #f9d7b8, inset 0 -1px 0 #ee862b;

  width: 2rem;
  height: 2rem;
  padding: 0.35rem;
  border-radius: 0.25rem;
  border: thin solid #cd642e;
  background: linear-gradient(to bottom, #f19f3c, #da6131);
  box-shadow: var(--specular), 0 2px 5px #969696;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  color: white;
  font-family: var(--sans-font-family);
  text-shadow: 0 1px 0 #823e1c;
  text-decoration: none;
}

.rss-button:hover {
  background: linear-gradient(to bottom, #f3ae58, #df7349);
}

.rss-button:active {
  box-shadow: var(--specular), 0 1px 3px #969696;
}

.rss-button > svg {
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.4));
}
