.rss-button {
  --specular: inset 0 1px 0 #f9d7b8, inset 0 -1px 0 #ee862b;

  align-items: center;
  background: linear-gradient(to bottom, #f19f3c, #da6131);
  border-radius: 0.25rem;
  border: thin solid #cd642e;
  box-shadow: var(--specular), var(--e-shadow);
  color: var(--c-secondary-foreground);
  display: flex;
  font-family: var(--t-sans);
  font-size: 0.85rem;
  height: 2rem;
  justify-content: center;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 0 #823e1c;
  width: 2rem;
}

.rss-button:hover {
  background: linear-gradient(to bottom, #f3ae58, #df7349);
  color: var(--c-secondary-foreground);
}

.rss-button:active {
  box-shadow: var(--specular), 0 1px 3px #969696;
}

.rss-button:visited {
  color: var(--c-secondary-foreground);
}

.rss-button > svg {
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.4));
  height: 1.25rem;
  width: 1.25rem;
}
