.sidebar-banners {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  margin-top: auto;
}

.sidebar-banners > img {
  box-shadow: var(--e-shadow);
}

.sidebar-banners--firefox {
  border-radius: 5px;
}
