.sidebar {
  /* debug */
  /*background-color: #cff;*/
  /* ===== */
  
  grid-area: sidebar;
  display: none;
}

@media (--m-big-screen) {
  .sidebar {
    display: flex;
    flex-direction: column;
  }
}
