.sidebar-banners {
  display: flex;
  flex-wrap: wrap;
  gap: var(--e-gap-small-size);
  justify-content: space-between;
  margin-top: auto;
}

.sidebar-banners a {
  display: block;
  line-height: 0;
}

.sidebar-banners img {
  box-shadow: var(--e-shadow);
  image-rendering: crisp-edges;
}

.sidebar-banners--rounded {
  border-radius: 5px;
}
