.theme-button {
  --specular: inset 0 1px 0 #969696, inset 0 -1px 0 #545454;

  background: linear-gradient(#545454, #373737);
  border-radius: 100%;
  border: thin dotted black;
  box-shadow: var(--specular), var(--e-shadow);
  color: var(--c-primary-foreground);
  height: 1.75rem;
  width: 1.75rem;
}

.theme-button:hover {
  background: linear-gradient(#6e6e6e, #525252);
}

.theme-button > svg {
  filter: drop-shadow(0 1px 0 var(--c-text-shadow));
}

.theme-button:active {
  box-shadow: var(--specular), 0 1px 3px #969696;
}
