ul li, ol li {
  margin-top: 0.5rem;
}

table {
  border-collapse: collapse;
  margin: 2rem 0;
  text-align: left;
  width: 100%;
}

tr {
  border-bottom: 1px solid var(--c-divider);
}

th, td {
  padding: 0.5rem;
}

hr {
  background-color: var(--c-divider);
  border: 0;
  height: 1px;
  margin: 2rem;
  position: relative;
  overflow: visible;
}

hr::after {
  background-color: var(--c-primary-background);
  color: var(--c-divider);
  content: "§";
  font-family: var(--t-serif);
  font-size: calc(var(--t-small));
  left: calc(50% - 0.5rem);
  line-height: 1;
  position: absolute;
  text-align: center;
  top: calc(var(--t-small) / -2);
  width: 1rem;
}
