/*
e — stands for "element"
c — stands for "color"
t — stands for "typography"
m - stands for "media"
 */

/* media */
@custom-media --m-small-screen (width < 1024px);
@custom-media --m-big-screen (width >= 1024px);

:root {
  /* colors */
  --c-ghost-white: #fffff8;
  --c-gallery: #ededed;
  --c-cod-gray: #111111;
  --c-white: #ffffff;
  --c-alto: #d3d3d3;
  --c-science-blue: #0069d6;
  --c-endeavour: #0050a3;
  --c-royal-purple: #663399;
  --c-red-violet: #c71585;
  --c-black: #000000;
  --c-gray: #808080;
  --c-dusty-gray: #969696;
  --c-tundora: #4d4d4d;
  --c-mine-shaft: #333333;
  --c-dark-mine-shaft: #222222;
  --c-solitude: #e7f5fe;
  --c-malibu: #87cefa;
  --c-dark-maliby: #66b0ff;
  --c-pickled-bluewood: #2d4453;
  --c-william: #3e5f74;
  --c-dove-gray: #737373;
  --c-dodger-blue: #1a88ff;
  --c-lavender: #b38cd9;
  --c-persian-pink: #f075c3;
  --c-emperor: #545454;

  /* typography */
  --t-sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --t-serif: "Georgia", serif;
  --t-small: 0.833rem;

  /* element properties */
  --e-gap-size: 0.75rem;
  --e-gap-small-size: 0.5rem;
  --e-header-height: 4rem;
  --e-border-radius: 0.25rem;
  --e-navigation-size: 3.5rem;
  --e-primary-border: thin solid var(--c-primary-border);
  --e-secondary-border: thin solid var(--c-secondary-border);
}

@define-mixin light-theme {
  --c-primary-background: var(--c-ghost-white);
  --c-secondary-background: var(--c-gallery);
  --c-primary-foreground: var(--c-cod-gray);
  --c-secondary-foreground: var(--c-white);
  --c-divider: var(--c-alto);
  --c-link-normal: var(--c-science-blue);
  --c-link-hover: var(--c-endeavour);
  --c-link-visited: var(--c-royal-purple);
  --c-link-active: var(--c-red-violet);
  --c-text-shadow: var(--c-black);
  --c-primary-border: var(--c-black);
  --c-secondary-border: var(--c-gray);
  --c-shadow: rgba(0, 0, 0, 35%);
  --c-navigation-right-specular: var(--c-gray);
  --c-blockquote-background: var(--c-malibu);
  --c-blockquote-border: var(--c-dark-maliby);
  --c-search-specular: var(--c-dusty-gray);

  --e-shadow: 0 2px 5px var(--c-shadow);
  --e-specular: inset 0 1px 0 var(--c-dusty-gray);
  --e-specular-muted: inset 0 1px 0 var(--c-dove-gray);
  --e-ambient: inset 0 -1px 0 var(--c-emperor);
}

@define-mixin dark-theme {
  --c-primary-background: var(--c-tundora);
  --c-secondary-background: var(--c-mine-shaft);
  --c-primary-foreground: var(--c-gallery);
  --c-secondary-foreground: var(--c-white);
  --c-divider: lightgrey;
  --c-link-normal: var(--c-dark-maliby);
  --c-link-hover: var(--c-dodger-blue);
  --c-link-visited: var(--c-lavender);
  --c-link-active: var(--c-persian-pink);
  --c-text-shadow: var(--c-black);
  --c-primary-border: var(--c-black);
  --c-secondary-border: var(--c-black);
  --c-shadow: var(--c-black);
  --c-navigation-right-specular: var(--c-dove-gray);
  --c-blockquote-background: var(--c-pickled-bluewood);
  --c-blockquote-border: var(--c-william);
  --c-search-specular: var(--c-dove-gray);

  --e-shadow: 0 0 0 var(--c-black);
  --e-specular: inset 0 1px 0 var(--c-dove-gray);
  --e-specular-muted: inset 0 1px 0 var(--c-tundora);
  --e-ambient: inset 0 -1px 0 var(--c-tundora);
}

@media (prefers-color-scheme: light) {
  [data-theme="system"] {
    @mixin light-theme;
  }
}

@media (prefers-color-scheme: dark) {
  [data-theme="system"] {
    @mixin dark-theme;
  }
}

[data-theme="light"] {
  @mixin light-theme;
}

[data-theme="dark"] {
  @mixin dark-theme;
}
