@media screen and (--m-small-screen) {
  .small-screen-hidden {
    display: none !important;
  }
}

@media screen and (--m-big-screen) {
  .big-screen-hidden {
    display: none !important;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
